<ion-header mode="md">
    <ion-toolbar>
  
      <ion-title color="dark">Detail Todo</ion-title>
  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" mode="md" ></ion-back-button>
      </ion-buttons>
  
      <ion-buttons slot="secondary">
        <ion-button (click)="updateTodoList()">
          <ion-icon  name="checkmark"></ion-icon>
        </ion-button>
        <ion-button (click)="refreshTodo()">
          <ion-icon  name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <div class="form-group">
  
      <label for="title">Enter Title</label>
      <input type="text" id="title" [(ngModel)]="todoDetailObj.title">
  
    </div>
  
    <div class="form-group margin-bottom10">
      <label for="title">Content</label>
    </div>
  
    <ng-container>
      <ion-list>
        <ion-item *ngFor="let todoData of todoListNameArr;let i = index ">
          <ion-checkbox checked="false" mode="md" [(ngModel)]="todoData.todoListName.isCompleted" color="dark" (ionChange)="taskCompleted(todoData,i,$event)" slot="start"></ion-checkbox>
          <ion-icon (click)="deleteTodoListItem(i)" slot="end" name="close"></ion-icon>
          <ion-input [ngStyle]="{'text-decoration' : todoData.todoListName.isCompleted === true ? 'line-through' : 'none'}" inputmode="text" mode="md" [(ngModel)]="todoData.todoListName.listName"></ion-input>
        </ion-item>
      </ion-list>
    </ng-container>
  
    <ion-button (click)="addTodoList()" expand="block" fill="solid" color="dark" mode="md">
      <ion-icon name="add-circle"></ion-icon>
      Add List
    </ion-button>
  
  </ion-content>